<?xml version="1.0" encoding="UTF-8" ?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!--这个配置暂时米用-->
    <property name="log.path1" value="tmp/logback1.log" />
    <property name="log.path2" value="tmp/logback2.log" />
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="service1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path1}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback1.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="service2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path2}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback2.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="aliyun-service1">
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="service1" />
        </root>
    </springProfile>

    <springProfile name="aliyun-service2">
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="service2" />
        </root>
    </springProfile>

    <!-- logback为java中的包 -->
    <!--<logger name="com.dudu.controller"/>-->
    <!--logback.LogbackDemo：类的全路径 -->
    <!--<logger name="com.dudu.controller.LearnController" level="WARN" additivity="false">-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->
</configuration>
